*{
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body{
    display:flex;
    flex-direction: column;
    margin-top: 5vh;
    align-content: center;
    justify-content: space-between;
    background-image: url(images/wood.jpg);
}
h1{
    text-align: center;
    background-color: beige;
    
}
#wrapper{
    display:flex;
    margin-top: 5vh;
    padding: 5px;
    /* align-items: center; */
    justify-content: space-around;

}
table{   
    width: 480px;
    height: 480px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    
}

.white-square{
    width: 60px;
    height: 60px;
    background-color: white;
    background-size:contain;
    padding: 0;
    margin: 0;
    
}
.black-square{
    width: 60px;
    height: 60px;
    background-color: rgb(0 109 183);
    background-size: contain;
    padding: 0;
    margin: 0; 
}
#big-div{
    display:flex;
    align-items: center;
    flex-direction: column; 
    width: 20vw;
    height: 80vh;
    background-color: beige;
}

.player-box{
    display:flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    background-color: beige;
    
    
    
}
 button{
   
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 0;
    
}
#white-button{
    background-color: red;
}
ul{
    list-style: none;
}
@media only screen and (max-width: 780px) {
    table{   
        width: 240px;
        height: 240px;
        border-spacing: 0;
        border-collapse: collapse;
        border: 1px solid black;
    }
    .white-square{
        width: 30px;
        height: 30px;
        background-color: white;
        background-size:contain;
        padding: 0;
        margin: 0;
        
    }
    .black-square{
        width: 30px;
        height: 30px;
        background-color: rgb(0 109 183);
        background-size: contain;
        padding: 0;
        margin: 0; 
    }
}